{% load staticfiles %}
<!-- 分类菜单与轮播 -->
<img src="{% static 'img/site/catear.png' %}" id="catear" class="catear"/>

<div class="category_carousel">
    <div class="headbar">
        <div class="head">
            <span class="glyphicon glyphicon-th-list"></span>
            <span>商品分类</span>
        </div>
        <div class="right_menu">
            <span><a href="#"><img src="{% static 'img/site/chaoshi.png' %}"/></a></span>
            <span><a href="#"><img src="{% static 'img/site/guoji.png' %}"/></a></span>
            {% for navigation in  navigations %}
                <span><a href="#">{{ navigation.nav_name }}</a></span>
            {% endfor %}
        </div>
    </div>
</div>
