{% load staticfiles %}
<div class="category_shops">
    {% for category in  categories %}
        <div class="category_shop ">
            <div class="left-mark"></div>
            <span>{{ category.name }}</span>
        </div>
        <div class="shop clear">
            {% for shop in category.shops %}
                {% if forloop.counter < 6 %}
                    <div class="shop_item">
                        <a href="{% url 'detail' shop.shop_id %}">
                            <img src="static/img/middle/{{ shop.img.shop_img_id }}.jpg">
                            <a class="shop_item_desc_link" href="">
                                <span class="shop_item_desc">[热销] {{ shop.name }} </span>
                            </a>
                            <span class="shop_price">{{ shop.promote_price }}</span>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>