{% extends 'base.html' %}
{% load staticfiles %}
{% block page_css %}
    <style type="text/css">
        #main {
            padding: 20px;
        }

        .shop_detail_img {
            float: left;
            width: 40%;
        }

        .shop_detail_content {
            float: left;
            width: 50%;
        }

        .shop_detail_content > h3 {
            font-weight: 800;
            color: black;
            font-size: 20px;
            text-align: center;
        }

        .shop_detail_content .detail_title {
            color: red;
            padding: 5px;
            text-align: center;
        }

        .detail_time {
            background: #2da77a;
            padding: 10px;
            color: white;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
        }

        .detail_time > span {
            color: yellow;
            padding-right: 5px;
            font-size: 14px;
        }

        .detail_count {
            text-align: center;
            padding: 15px 0;
            border-bottom: 1px solid #c9c9c9;
            border-top: 1px solid #c9c9c9;
        }

        .detail_count .count_first {
            padding-left: 100px;
            color: gainsboro;
        }

        .detail_count .count_last {
            padding-right: 100px;
            color: red;
            padding-left: 5px;
        }

        .detail_price .text {
            color: gainsboro;
            padding: 10px;
            font-size: 14px;
        }

        .detail_price .price {
            color: black;
            padding: 10px;
            text-decoration: line-through;
            font-size: 14px;
        }

        .shop_detail_img {
            margin-top: 10px;
            padding: 10px;
            text-align: center;
        }

        .detail_small_img li {
            float: left;
            width: 18%;
            margin: 4px;
        }

        .detail_small_img li > img:hover {
            border: 1px solid red;
        }

        .detail_common {
            padding: 10px;
        }

        .detail_promote_price {
            padding: 10px;
        }

        .detail_promote_price span:last-child {
            font-size: 18px;
            padding-left: 5px;
            color: red;
        }

        .detail_middle_img {
            padding: 0 10px;
        }

        .detail_small_img {
            margin-top: 10px;
        }

        .detail_middle_img > img {
            height: 300px;
            width: 100%;
        }

        .detail_small_img img {
            width: 100%;
        }

        {#    盒子模型 #}
        .shop_param {
            margin-left: 100px;
            min-width: 1440px;
        }

        .shop_param > p {
            display: inline-block;
            min-width: 500px;
            font-size: 16px;
            padding: 5px;
        }
    </style>
{% endblock %}
{% block page_jq %}
    <script type="text/javascript" language="JavaScript">
        $(function () {
            $('.shop_detail_img li').mouseover(function () {
                let index = $(this).index();
                $('.shop_detail_img>div>img').hide();
                {#jQuery对象通过索引获取的对象都是原生的js对象#}
                $('.shop_detail_img>div>img')[index].setAttribute('style', 'display:block')
            })
            {#商品的id#}
            {#商品的数量#}

            $('#add_cars').click(function () {
                {#触发ajax请求#}
                //获取购买的数量
                let $num = $('#num').val();
                //获取商品的id
                let $shop_id = $('#shop_id').val();
                //提交到购物车
                let ADD_URL = 'http://127.0.0.1:8000/cars/add/';
                data = {
                    num: $num,
                    shop_id: $shop_id
                };
                $.get(ADD_URL, data, function (result) {
                    alert(result)
                });
            })

        })
    </script>
{% endblock %}

{% block page_head %}
    {% include 'include/common/page_top.html' %}
    {% include 'include/common/page_search.html' %}
{% endblock %}
{% block page_content %}
    {% include 'include/shop/page_shop_detail.html' %}
{% endblock %}
{% block page_footer %}
{% endblock %}




